.allPics {
  height: 250px;
  width: 300px;
}
.gify {
  margin: 0 auto;
}
.red {
  color: red;
}

.feedPics {
    background-color: rgba(29, 247, 216, 0.7);
}

.gify {
 float: 'right';
 margin: 0 0 10px 10px;

}

.headings {
  text-align: center;
  color: #ffa64d;
}

.headingsW {
  color: white !important;
  text-align: center;
}

.space{
  height: 50px;
}

.spaceSmall{
  height: 20px
}

body {
  background-color: #808080
}

.centered {
  position: absolute; 
  top: 100%;
  left: 60%;
}

.noRepeat {
  background-repeat: no-repeat;
}

.navbar-light {
  background-color: white;
}

.navbar-orange {
  color: #ffa64d;
}

.navi: hover {
 background-color: #ffa64d !important;
}

a {
  color: black !important;
}
.centerdiv {
  padding-top: 25px;
  padding-right: 150px;
  padding-left: 150px
}

.center {
  position: absolute;
  padding-left: 230px;
}

.centerlogin{
  /*text-align: center;
  position: relative;
    top: 10%;
    transform: translateY(10%);*/
  
  padding-top: 200px;
  padding-right: 300px;
  padding-left:80px

}

.buttonlogin{
  padding-left: 300px;
  padding-right: 350px;
  padding-bottom: 200px;
}

.btn-logincustom {
  color: white;
  background-color: #272525;
  border-color: #ffa64d;
  border-width: 2px;
  border-radius: 24px;
  width: 250px;
}

.gameholder{
  text-align: center;
}

.getready{
  font-family: "arial-black";
  font-size: 50px;
  position: relative;
	top: 50%;
	transform: translateY(350%);
  text-align: center;
  border-style: solid;
  border-width: medium;
}

.label{
  text-align: center;
}

.imageResult{
  text-align: center;
}

/*.card{
  border-radius: 15px 50px;
}*/

.card-success{
  background-color: lightgreen;
  color: white;
}

@keyframes goats {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

.goatsanimate {
    width: 100px;
    height: 100px;
    position: relative;
    padding-left: 230px;
    -webkit-animation-name: goats;
    -webkit-animation-duration: 4s;
    animation-name: goats;
    animation-duration: 4s;
}

.jumbotron {
  background-color: black !important;
  opacity: 0.7;
}

.suggestion {
  width: 750px
}

.searchButton {
  background-color: #ffa64d;
  color: black;
  margin-left: 390px;
  width: 250px
}

.zipInput {
  text-align: center;
  margin-left: 390px;
  width: 250px
}

.orange {
  color: #ffa64d;
}

.buttonDiv {
  padding-left: 25px;
}

.inlineButton {
  width:250px;
  background-color: black;
  color: white;
  border-radius: 2px;
  border-color: #ffa64d;
  opacity: 0.7
  
}

.morning {
  background-color:  black !important;
  opacity: 0.7
}

.afternoon {
  background-color:  black !important;
  opacity: 0.7
}

.night {
  background-color:black !important;
  opacity: 0.7
}

.headingBold {
  font-weight: bold !important
}

.centerHeading {
  margin-left: 280px
}

.allPics {
  padding-left: 25px;
}

.picCenter {
  padding-left: 180px;
}

.white {
  color: white;
}

.dayplanner {
  margin-left: 200px;
  margin-right: 200px;
}

