.allPics {
  height: 250px;
  width: 300px;
}
.gify {
  margin: 0 auto;
  align-items: center;
}
.red {
  color: red;
}

.feedPics {
    background-color: rgba(29, 247, 216, 0.7);
}

.gify {
  /*margin: 200px*/
}

.headings {
  text-align: center;
  color: #ffa64d;
}

.headingsW {
  color: white !important;
  text-align: center;
}

.space{
  height: 50px
}

.spaceSmall{
  height: 20px
}

body {
  background-color: #808080
}

.centered {
  position: absolute; 
  top: 50%;
  left: 50%;
}

.noRepeat {
  background-repeat: no-repeat;
}

.navbar-light {
  background-color: white;
}

.navbar-orange {
  color: #ffa64d;
}

.navi: hover {
 background-color: #ffa64d !important;
}

a {
  color: black !important;
}
.centerdiv {
  padding-top: 50px;
  padding-right: 150px;
}

.center {
  position: absolute;
  padding-left: 230px;
}